@use "sanitize";
@use "reset";
@use "base";
@use "component";

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* fallback for legacy browser */
  clip-path: inset(50%); /* modern browser */
  white-space: nowrap;
  border: 0;
}
